<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bussiness.upvote.dao.mapper.UpvoteMapper">

    <resultMap id="upvoteMap" type="bussiness.upvote.domain.Upvote">
        <result column="id"             property="id" /> <!-- 点赞ID -->
        <result column="remark_id"      property="remark.id" /> <!-- 关联评论id -->
        <result column="user_id"        property="user.id" /> <!-- 用户Id -->
        <result column="user_name"      property="user.name" /> <!-- 用户名 -->
        <result column="create_time"    property="createTime" /> <!-- 创建时间 -->
    </resultMap>

    <sql id="table-name">tr_upvote</sql>

    <!-- sql片段 -->
    <sql id="sqlPart">
        id,  remark_id,  user_id,  user_name,  create_time
    </sql>

    <!-- 根据ID获取 -->
    <select id="getById" parameterType="String" resultMap="upvoteMap">
        select
        <include refid="sqlPart"/>
        from <include refid="table-name"/>
        where id = #{id}
    </select>

    <!--保存-->
    <insert id="save" parameterType="bussiness.upvote.domain.Upvote">
        insert into <include refid="table-name"/>
        (<include refid="sqlPart"/>)
        values (
        #{id},
        #{remark.id},
        #{user.id},
        #{user.name},
        now()
        )
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="string">
        delete from <include refid="table-name"/> where id = #{id}
    </delete>

</mapper>