@charset "utf-8";

/*---附件布局---*/
.cpbAttachBrowse { display:inline; float:left; margin:4px 0 0 10px; z-index:0;}
.abItemBtn { border:1px solid #ccc; display:inline; float:left; line-height:24px; margin:0 10px 0 0; padding:0 15px 0 20px; *padding:0 10px 0 20px; position:relative; z-index:1;}
.abItemBtn .abIco_fl { position:absolute; left:5px; top:5px; overflow:hidden; text-indent:-9999px; display:block;}
.abItemBtn .abIco_fr { position:absolute; right:5px; top:10px; display:block; overflow:hidden; text-indent:-9999px;} 
.abItemBtn a.abText_w { font-size:12px; font-weight:bold; color:#666;}
.abItemBtn_down { display:inline; float:left; height:24px; line-height:24px; margin:2px 10px 0 0; position:static;}
.abItemBtn_down a.abDown_btn { color:#09F;}

.attachList { height:34px; padding:0 10px; border-bottom:1px solid #eee;}
.attachList:hover { background:#f7f7f7;}
.attachList .alItem_ico { position:absolute; top:2px; left:40px;}
.attachList .alItem_ico .alIco_inner { display:block; text-indent:-9999px;}
.attachList .alItem_tit { margin:0 570px 0 70px; line-height:34px; white-space:nowrap; overflow:hidden;}
.attachList .alItem_tit .alFileSize { color:#999; margin-left:5px;}
.attachList .alItem_tit a { color:#09F;}
.attachList .alItem_width160 { position:absolute; top:0; line-height:34px; width:160px;}
.attachList .alItem_width240 { position:absolute; top:0; line-height:34px; width:240px;}

.attachItem { border:2px solid #FFF; display:inline; float:left; height:110px; margin:10px 5px 0px; padding:30px 0 10px 0; position:relative; width:350px;}
.ai_select { border:2px solid #18beff; z-index:7;}
.ai_select .checked_ico { position: absolute; bottom:0; right:0; display:block;}
.attachItem .ai_info { position:absolute; top:30px; left:97px;}
.attachItem .aiTip { left:30px; top:-45px;}
.attachItem .aiTip .aitSty { color:#999; margin:0 5px; line-height:16px;}
.attachItem .ai_info .aiiTxtSty { line-height:16px; margin:0 38px 5px 0; padding-right:5px;}
.attachItem .ai_info .aiiTxtSty .aiiStore { color:#999; position:absolute; right:4px; top:0;}
.attachItem .ai_info .aiiTxtSty a { font-weight:normal; font-size:12px; color:#2481d5;}
.attachItem .ai_info .tools { margin:10px 0 0 0; position:relative;}
.attachItem .ai_ico { display:block; margin-left:10px; text-indent:-9999px;}
.attachItem .tag { margin:6px 0;}
.attachItem .tag .aiFrequency_hegao { display:block; text-align:right; width:120px; overflow:hidden; white-space:nowrap; color:#999; position:absolute; left:140px; top:0;}

/*--附件列表--*/
.ai_tWrap { margin-top:6px;}
.ai_tWrap li { float:left; margin-right:10px;}
.ai_tWrap .aitIco { display:block; text-indent:-9999px;}
.attachItem .ai_checkBox { display:block; position:absolute; left:5px; top:5px;}
.attachItem .ai_close { position:absolute; display:block; top:5px; right:5px;}
.ai_hover { border:2px solid #ddd; z-index:8;}

.ai_pullMenu { border:1px solid #ccc; position:absolute !important; background:#fff; z-index:999;}
.ai_pullMenu li { height:24px; line-height:24px; position:relative; width:100px;}
.ai_pullMenu li a { display:block; color:#333; padding-left:10px;}
.ai_pullMenu li a:hover { color:#fff; background:#666;}
/*--上传--*/
.fj_Dialog { border:1px solid #adadad; border-radius:4px;}
.fj_DialogHead { height:36px; border-bottom:1px solid #adadad; background:#e7efe7; border-radius:4px 4px 0 0;}
.fj_DialogHead .dhTxt { font-size:12px; line-height:36px; margin-left:15px; font-weight:bold; color:#000;}
.dh_MinClo { position:absolute; top:8px; right:15px;}
.dh_MinClo a:hover { border-radius:2px; background:#fff;}
.dh_MinClo .dhBtn { float:left; margin-left:5px; width:16px; height:16px; display:block; overflow:hidden;}
.dh_MinClo .dhBtn .dhBtn_ico { display:block; margin:3px 0 0 3px; text-indent:-9999px; overflow:hidden;}
.fj_DialogCont { padding:10px;}
.dc_addItem { padding:10px 0;}
.dc_addBtn { display:block; width:80px; text-align:center; color:#333; border-radius:3px;}
.dc_addTip { position:absolute; left:100px; top:12px; color:#999;}
.dc_uploadList { height:300px; border:1px solid #cecece; border-radius:5px; overflow:auto;}
.dc_udItem { border-bottom:1px solid #cecece; height:45px; padding-top:10px; position:relative;}
.dc_udItem .dc_fileIco { position:absolute; top:12px; left:12px; text-indent:-9999px;}
.dc_udItem .dc_tipIco { overflow:hidden; position:absolute; top:12px; right:12px; text-indent:-9999px; z-index:999;}
.dc_udItem .dc_fileTit { margin-left:47px;}
.dc_udItem .dc_fileTit .dc_fileName { color:#000;}
.dc_udItem .dc_fileTit .dc_fileHeft { color:#999;}
.dc_udItem .dc_fileSpeed { color:#999; height:14px; line-height:14px; position:relative;}
.dc_udItem .dc_filePlan { height:10px; border:1px solid #ccc; width:134px; border-radius:10px; overflow:hidden;}
.dc_udItem .dc_filePlan_scale { display:block; overflow:hidden; text-indent:-9999px;}
.dc_udItem .dc_fileUsedTime { position:absolute; left:150px; top:0; color:#999; line-height:12px;}
.fj_DialogBotton { background:#efefef; border-radius:0 0 4px 4px; border-top:1px solid #adadad; height:36px; position:relative;}
.fj_dbRight { position:absolute; right:15px; top:5px;}
.fj_dbRight .fj_dbrBtn { float:left; margin-left:10px;}
.fj_dbRight .fj_dbrBtn a { padding:0 15px;}
.fj_selectWrap { margin:20px; background:#f7fff7; border:1px solid #cecece; border-radius:5px;}
.fj_swItem { margin:20px; border-bottom:1px solid #cecece; padding:60px 0;}
.fj_swItem .fj_swItem_btn { width:130px; margin:0 auto;}
.fj_swItem .fj_swItem_btn a { font-size:14px; font-weight:bold;}
.fj_channelTip { margin:20px;}
.fj_ctName { font-size:12px; margin-bottom:20px;}
.fj_ctInfo { text-indent:2em; font-size:12px; color:#666;}
.fj_ctAssist { margin:30px 0 0 0;}
.fj_ctAssist .fj_ctaTxt { text-indent:2em; font-size:12px; color:#999;}
.fj_ctAssist .fj_ctaBtn { width:100px; margin:0 auto; margin-top:10px;}
.fj_ctAssist .fj_ctaBtn a { font-size:14px; font-weight:bold;}



/*--附件操作记录--*/
.fj_actRecord { margin:5px 0;}
.fj_arHead { height:36px; margin-bottom:10px;}
.fj_arHead .fj_arhIco { position:absolute; top:3px; left:0; display:block;}
.fj_arHead .fj_arhTit { font-size:14px; color:#2481d5; margin-left:42px; line-height:36px;}
.fj_arHead .fj_arhload { position:absolute; right:10px; top:10px; color:#999;}
.fj_arList { height:220px; overflow:auto; border:1px solid #e6e6e6; background:#f6f6f6;}
.fj_arList ul { margin:0 20px;}
.fj_arList li { border-bottom:1px solid #e6e6e6; border-top:1px solid #fff; height:44px; position:relative;}
.fj_arList li .fj_arlIco { position:absolute; top:5px; left:5px; display:block; text-indent:-9999px;}
.fj_arList .fj_arlInfo { margin-left:30px; display:block; padding-top:3px;}
.fj_arList .fj_arlInfo .fj_arliTit { display:block; white-space:nowrap; font-size:12px; color:#666;}
.fj_arList .fj_arlInfo .fj_arliDate { font-style:normal; line-height:14px; color:#999;} 

.fj_qbList { height:270px; overflow:auto;}
.fj_qbList .fj_qblHead { background:#f3f8fc; border:1px solid #cae1f0; font-size:12px; height:30px;}
.fj_qbList .fj_qblHead a.fj_qbhSty { font-weight:bold; color:#1fa9df;}
.fj_qbList .fj_qblInner { margin:5px 0; border-bottom:1px solid #ccc;}
.fj_qblItem { line-height:30px; overflow:hidden; white-space:nowrap; position:absolute; top:0;}
.fj_qblItem a.fj_liSty { color:#999;}
.fj_qbliTit { line-height:30px; overflow:hidden; white-space:nowrap;}
.fj_qbList_first { background:#f7f7f7; font-size:12px; height:30px; line-height:30px;}
.fj_qbList_first  a.fj_ltSty { color:#2481d5; margin-left:20px;}
.fj_qbList_second { background:#fff; margin-left:22px; font-size:12px; height:30px;}
.fj_qbList_second a.fj_ltSty { color:#999; margin-left:20px;}
.fj_qbList .unfold_ico { display:block; position:absolute; text-indent:-9999px; top:8px; left:5px;}
.fj_qbList .doc_ico { display:block; position:absolute; text-indent:-9999px; top:6px; _top:0; left:0;}
