@charset "utf-8";
/*--------------------------------------------------------------------------
* PageTitle: Main Frame Layout 
* Updated: 2014.06.18
* Company：Sailing Information
* Author: Vina Shi
----------------------------------------------------------------------------*/
/*-------------------------- Common Style ----------------------------------
*/
body {margin:0 auto; padding:0; font-size: 14px; color: #333; font-family:Arial, Verdana, Geneva, sans-serif,"宋体";}

a:link { text-decoration: none; color:#333; }
a:visited { text-decoration: none; color:#333; }
a:hover { text-decoration:underline; color:#c00;}
a:active { text-decoration: none; color:#333; }
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}/* 清除浮动 */

/*-------------------------- Frame Layout Style ----------------------------
*/
/* tophead ---------------*/
/*.mymask{background: url(../imgs/loading.gif) no-repeat scroll 10px }*/
.tophead{background: url(../imgs/index_tophead_03.png) left top repeat-x;}
.tophead_wrap { margin:0 auto; padding:0; height:94px;}
  .tophead_top { margin:0 auto; padding:0; height:54px;background: url(../imgs/index_tophead_01.jpg) left top no-repeat;}
  	.tophead_top_left { float:left;}
  	.tophead_top_right { float:right; padding-right:35px; width:500px; height:54px; line-height:35px; color:#FFF; font-size:14px; text-align:right; background: url(../imgs/index_tophead_012r.jpg) right top no-repeat;}
	.tophead_top_right a { margin:0 15px; color:#FFF;}
	.tophead_top_right a:hover { margin:0 15px; text-decoration: none; color:#FF0;}
  /*.tophead_bottom_all{background: url(../imgs/index_tophead_033.png) left top repeat-x;}*/
  /*.tophead_bottom{background: url(../imgs/index_tophead_04.png) right top no-repeat;}*/
  .tophead_nav { margin:0 auto; padding-left:20px; height:40px; line-height:40px; background: url(../imgs/index_tophead_02.jpg) top left no-repeat;}
	.tophead_nav ul{margin:0; padding:0; width:800px;}
	.tophead_nav ul li { margin:0; float:left; width:100px; height:40px;display:block;cursor:pointer;line-height:40px; color:#FFF; font-size:14px; font-weight:bold;text-align:center;}
	.tophead_nav ul li a {color:#FFF;}
	.tophead_nav ul li a:hover {margin:0; float:left; width:98px; height:39px; line-height:39px; display:block;cursor:pointer; color:#fff; text-decoration:none; background:#4593fd; font-size:14px; font-weight:bold; border-left:solid 1px #24517f; border-right:solid 1px #24517f; border-top:solid 1px #24517f;}


/* sidebar --------------*/
.sidebar_wrap { margin:0 auto; padding:0;}
/* main -----------------*/
.main_wrap { margin:0 auto; padding:0;}
  .main_location { margin:0 auto; padding:10px; border-bottom:solid 1px #95b8e7; }/* 当前位置 */
  .main_operration_btn { margin:0 auto; padding:5px; border-bottom:solid 1px #95b8e7;}/*操作按钮*/
  .main_pic_btn { margin:0 auto; padding:15px; border-bottom:solid 1px #95b8e7;}/*图片按钮*/
	.main_pic_btn dl {margin:0; padding:0; height:130px;}
	.main_pic_btn dl dt { }
	.main_pic_btn dl dd {float:left; width:120px; height:100px;}
  .main_search_title { margin:0 auto; padding:8px; font-weight:bold; color:#0E2D5F; background:#e0ecff;}
  .main_search_list { margin:0 auto; padding:15px; border-bottom:solid 1px #95b8e7;}
  
  .main_grid_title { margin:0 auto; padding:8px; font-weight:bold; color:#0E2D5F; background:#e0ecff;}
  .main_grid_list { margin:0 auto; padding:0; border-bottom:solid 1px #95b8e7;}
  
  .main_layout_div { margin-bottom:5px; padding:0; min-height:200px; border:solid 1px #95b8e7;}
/* div layout -----------------*/
.div_01 { margin-bottom:5px; padding:0;}

/* bot -----------------*/
.bot_wrap { margin:0 auto; padding:0; background:#e0ecff; height:28px; line-height:28px; text-align:center;}
.bot_wrap_left { float:left; padding-left:30px; height:28px; line-height:28px;}
.bot_wrap_right { float:right; padding-right:30px; text-align:right; height:28px; line-height:28px;}


.open{
	width:26px;
	height:26px;
	background:url('../imgs/up.png') no-repeat center center;
	margin-top:8px;
	cursor: pointer;
}
.close{
	width:26px;
	height:26px;
	background:url('../imgs/down.png') no-repeat center center;
	margin-top:8px;
	cursor: pointer;
}
