<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vansec.org.dao.mapper.OrgMapper">

    <resultMap id="orgMap" type="com.vansec.org.domain.Org">
        <result column="id"           property="id" /> <!-- 唯一ID -->
        <result column="name"         property="name" /> <!-- 机构全称 -->
        <result column="create_time"  property="createTime" /> <!-- 创建时间 -->
        <result column="update_time"  property="updateTime" /> <!-- 更新时间 -->

        <association property="parent"  resultMap="parentMap" />
    </resultMap>

    <!-- 单位 -->
    <resultMap id="parentMap" type="com.vansec.org.domain.Org">
        <result column="parent_id"  property="id"/>
    </resultMap>

    <sql id="table-name">plat_org</sql>

    <!-- sql片段 -->
    <sql id="sqlPart">
        id,  name,  parent_id,  create_time,  update_time
    </sql>

    <!--根据单位ID获取单位-->
    <select id="getById" parameterType="String" resultMap="orgMap">
        select
        <include refid="sqlPart"/>
        from <include refid="table-name"/>
        where id = #{id}
    </select>

    <!--保存单位-->
    <insert id="save" parameterType="com.vansec.org.domain.Org">
        insert into <include refid="table-name"/>
        (<include refid="sqlPart"/>)
        values (#{id}, #{name}, #{parent.id}, now(), now())
    </insert>

    <!--更新单位-->
    <update id="update" parameterType="com.vansec.org.domain.Org">
        update <include refid="table-name"/>
        set
        name = #{name},
        parent_id = #{parent.id}
        where id = #{id}
    </update>

    <!--删除单位-->
    <delete id="delete" parameterType="string">
        delete from <include refid="table-name"/> where id = #{id}
    </delete>

    <!-- 查询单位, 查询记录数 -->
    <select id="count" resultType="long">
        select count(id)
        from <include refid="table-name"/>
        <where>
            <if test="name != null">
                and name LIKE '%${name}%'
            </if>
        </where>
    </select>

    <!-- 查询单位, 1.输入用map传入多个参数 2.<where>语句, 添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" resultMap="orgMap">
        select <include refid="sqlPart"/>
        from <include refid="table-name"/>
        <where>
            <if test="name != null">
                and name LIKE '%${name}%'
            </if>
        </where>
        ORDER BY update_time DESC
        LIMIT #{skip,     jdbcType=NUMERIC  }, #{limit,     jdbcType=NUMERIC  }
    </select>

    <select id="getAll" resultMap="orgMap">
        select
        <include refid="sqlPart"/>
        from <include refid="table-name"/>
    </select>

</mapper>