<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vansec.attachment.dao.mapper.AttachmentMapper">

    <resultMap id="attachmentResultMap" type="com.vansec.attachment.domain.Attachment">
        <result column="attach_id"       property="id"/>
        <result column="attach_old_name" property="oldName"/>
        <result column="attach_new_name" property="newName"/>
        <result column="attach_suffix"   property="suffix"/>
        <result column="attach_type"     property="type"/>
        <result column="attach_path"     property="path"/>
        <result column="file_size"      property="fileSize"/>
        <result column="create_time"     property="createTime"/>
        <result column="update_time"     property="updateTime"/>

        <association property="creator" resultMap="userResultMap"/>
    </resultMap>


    <resultMap id="userResultMap" type="com.vansec.user.domain.User">
        <result column="user_id" property="id" />
        <result column="user_name" property="name" />
    </resultMap>

    <sql id="sqlPart">
        a.id          as attach_id,
        a.old_name    as attach_old_name,
        a.new_name    as attach_new_name,
        a.suffix      as attach_suffix,
        a.type        as attach_type,
        a.path        as attach_path,
        a.file_size   as file_size,
        a.user_id     as user_id,
        a.user_name   as user_name,
        a.post_id     as post_id,
        a.post_name   as post_name,
        a.dept_id     as dept_id,
        a.dept_name   as dept_name,
        a.unit_id     as unit_id,
        a.unit_name   as unit_name,
        a.create_time as create_time,
        a.update_time as update_time
    </sql>

    <sql id="if-part">
        <where>
            <if test="type !=null and type !='' ">
                and r.object_type = #{type}
            </if>
            <if test="objectId !=null and objectId !='' ">
                and r.object_id = #{objectId}
            </if>
        </where>
    </sql>

    <!-- 插入附件 -->
    <insert id="insert">
        insert into plat_attachment
        (
             id,          old_name,       new_name,       suffix,         type,
             path,        file_size,      user_id,        user_name,      post_id,
             post_name,   dept_id,        dept_name,      unit_id,        unit_name,
             create_time, update_time
        )
        values
        (
             #{attachment.id,                 jdbcType=VARCHAR  },
             #{attachment.oldName,            jdbcType=VARCHAR  },
             #{attachment.newName,            jdbcType=VARCHAR  },
             #{attachment.suffix,             jdbcType=VARCHAR  },
             #{attachment.type,               jdbcType=VARCHAR  },

             #{attachment.path,               jdbcType=VARCHAR  },
             #{attachment.fileSize,           jdbcType=NUMERIC  },
             #{post.user.id,                  jdbcType=VARCHAR  },
             #{post.user.name,                jdbcType=VARCHAR  },
             #{post.id,                       jdbcType=VARCHAR  },

             #{post.name,                     jdbcType=VARCHAR  },
             #{post.parent.id,                jdbcType=VARCHAR  },
             #{post.parent.name,              jdbcType=VARCHAR  },
             #{post.parent.parent.id,         jdbcType=VARCHAR  },
             #{post.parent.parent.name,       jdbcType=VARCHAR  },

             #{attachment.createTime,         jdbcType=TIMESTAMP},
             #{attachment.updateTime,         jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 更新附件 -->
    <update id="update">
        update plat_attachment
           set old_name    = #{attachment.oldName,    jdbcType=VARCHAR  },
               new_name    = #{attachment.newName,    jdbcType=VARCHAR  },
               suffiex     = #{attachment.suffix,     jdbcType=VARCHAR  },
               type        = #{attachment.type,       jdbcType=VARCHAR  },
               path        = #{attachment.path,       jdbcType=VARCHAR  },

               file_size   = #{attachment.fileSize,   jdbcType=NUMERIC  },
               user_id     = #{post.user.id,          jdbcType=VARCHAR  },
               user_name   = #{post.user.name,        jdbcType=VARCHAR  },
               post_id     = #{post.id,               jdbcType=VARCHAR  },
               post_name   = #{post.name,             jdbcType=VARCHAR  },

               dept_id     = #{post.parent.id,        jdbcType=VARCHAR  },
               dept_name   = #{post.parent.name,      jdbcType=VARCHAR  },
               unit_id     = #{post.unit.id,          jdbcType=VARCHAR  },
               unit_name   = #{post.unit.name,        jdbcType=VARCHAR  },
               update_time = #{attachment.updateTime, jdbcType=TIMESTAMP}
         where id = #{attachment.id}
    </update>

    <!-- 更新附件新名称 -->
    <update id="updateNewName">
        update plat_attachment
           set new_name    = #{newName,          jdbcType=VARCHAR  },
               user_id     = #{post.user.id,     jdbcType=VARCHAR  },
               user_name   = #{post.user.name,   jdbcType=VARCHAR  },
               post_id     = #{post.id,          jdbcType=VARCHAR  },
               post_name   = #{post.name,        jdbcType=VARCHAR  },

               dept_id     = #{post.parent.id,   jdbcType=VARCHAR  },
               dept_name   = #{post.parent.name, jdbcType=VARCHAR  },
               unit_id     = #{post.unit.id,     jdbcType=VARCHAR  },
               unit_name   = #{post.unit.name,   jdbcType=VARCHAR  },
               update_time = #{updateTime,       jdbcType=TIMESTAMP}
         where id = #{id}
    </update>

    <!-- 删除附件 -->
    <delete id="delete">
        delete from plat_attachment
         where id = #{id}
    </delete>

    <!-- 获取附件 -->
    <select id="find" resultMap="attachmentResultMap">
        select <include refid="sqlPart"/>
        from plat_attachment a
        where a.id = #{id}
    </select>

    <!-- 获取附件集合 -->
    <select id="finds" resultMap="attachmentResultMap">
        select <include refid="sqlPart"/>
         from plat_attachment a
        where a.id = #{entityId}
    </select>

    <!--根据业务对象ID和类型获取附件列表-->
    <select id="getList" resultMap="attachmentResultMap">
        select <include refid="sqlPart"/>
         from plat_attachment a
         left join plat_attach_relation r on a.id = r.attach_id
        where r.object_Id = #{objectId,    jdbcType=NUMERIC  }
    </select>

    <select id="search" resultMap="attachmentResultMap">
        select <include refid="sqlPart"/>
        from plat_attachment a
        left join plat_attach_relation r on a.id = r.attach_id
        <include refid="if-part"/>
        order by a.create_time desc
        LIMIT #{skip,     jdbcType=NUMERIC  }, #{limit,     jdbcType=NUMERIC  }
    </select>

    <select id="count" resultType="long">
        select count(*)
        from plat_attachment a
        left join plat_attach_relation r on a.id = r.attach_id
        <include refid="if-part"/>
    </select>
</mapper>