@charset "utf-8";

/********************头部导航栏开始******************************/

div.toparea { width:100%; height:149px; float:left; display:inline; }
div.topbanner { min-width:1000px; height:87px; }
#Logo { width:500px; height:87px; float:left; display:inline; }

#Logo img { margin-left:30px; margin-top:15px; }
div.Timebar { width:45%; height:87px; float:right }
div.Timebar li { width:100%; clear:both; float:left; display:inline; }

li.Time_sw { height:51px; float:right; display:inline; }
dl.Staffdatebox { margin-right:30px; margin-top:20px; float:right; display:inline; }
dl.Staffdatebox dd.Staffdates { height:16px; color:#6491BB; overflow:hidden; line-height:normal; float:left; display:inline; }
dl.Staffdatebox dt.Staffopera { height:16px; overflow:hidden; line-height:normal; float:left; display:inline; }
dl.Staffdatebox dt.Staffopera a { margin-left:3px; }
a.Logout { color:#4879B1; font-weight:bold; }
a.icon36 { padding-right:10px; width:8px; height:5px; background:url("../images/icon.png") -104px -340px no-repeat; }

li.Staff { width:45%; height:30px; float:left; display:inline; }
dl.StaffNamebox { margin-right:30px; float:right; display:inline; }
dl.StaffNamebox dd { height:22px; line-height:22px; float:left; display:inline; }
dl.StaffNamebox dd.Staff_Names { padding:0px 11px 0px 11px; background:url("../images/icon.png") -924px -640px no-repeat; color:#FFF; font-weight:bold; float:left; display:inline; }
dl.StaffNamebox dd.Staff_Angle { background:url("../images/icon.png") -924px -663px no-repeat; width:4px; float:left; display:inline; }
dl.StaffNamebox dd.Staff_Post { padding:0px 11px 0px 8px; background:url("../images/icon.png") -960px -663px no-repeat; color:#AC8818; float:left; display:inline; }
div.Topmenuarea { min-width:1000px; height:32px; margin-right:30px; }
div.Topmenu { width:100%; height:32px; float:left; display:inline; }
li.Topmenubt { width:720px; height:32px; float:left; display:inline; }

dl.Sharebt { width:715px; height:32px; margin-left:5px; float:left; display:inline; }
dl.Sharebt dd { width:89px; height:32px; line-height:32px; text-align:center; color:#575E66; font-weight:bold; cursor:pointer; float:left; display:inline; }
dl.Sharebt dd.Sharebg { background:url("../images/Header.png") -18px -120px no-repeat; color:#477AAF; float:left; display:inline; }
dl.Sharebt dd.Shareon { width:89px; height:31px; background:url("../images/icon.png") -720px -639px no-repeat; overflow:hidden; }
dl.Sharebt dd.Shareoff { width:89px; height:31px; background:none; overflow:hidden; }

li.Systemmenu { width:276px; height:32px; float:right; display:inline; }
dl.Systebt { width:276px; height:32px; list-style:32px; margin-top:3px; float:left; display:inline; }
dl.Systebt dd.Systeoff { width:92px; height:28px; line-height:28px; text-align:center; color:#5B5E65; background:url("../images/icon.png") -924px -685px no-repeat; cursor:pointer; float:left; display:inline; }
dl.Systebt dd.Systeon { width:92px; height:28px; line-height:28px; text-align:center; background:url("../images/icon.png") -924px -714px no-repeat; color:#FFF; font-weight:bold; float:left; display:inline; }
div.Systeiparea { min-width:1000px; height:32px; margin-right:30px; }
div.SysteIP { width:100%; height:28px; float:left; display:inline; }
div.SysteIP span.SysteIPtxt { height:28px; line-height:28px; margin-right:20px; color:#AAA; float:right; display:inline; }
/*End* Header **/

/********************左菜单开始******************************/
.menuall { width:183px; overflow:hidden; }
.leftbg { background:url(../images/y.png) repeat-y left; display:inline; float:left; min-height:630px; }
/* 收缩展开左栏的按钮 */
.left_box1 { width:10px; height:55px; background:url("../images/icon.png") -1327px -600px no-repeat; margin-left:-7px; margin-top:150px; cursor:pointer; float:left; display:inline; }
.left_box2 { width:10px; height:55px; background:url("../images/icon.png") -1327px -680px no-repeat; margin-left:0px; margin-top:150px; cursor:pointer; float:left; display:inline; }

.leftmenu { background:url(../images/icon.png) -1074px -600px no-repeat; display:inline; float:left; padding-top:4px; width:180px; }
.columbar { height:38px; width:183px; }
.columbar .colTitle { display:block; height:38px; line-height:38px; }
.menuRow { margin:5px 0; }
.menuRow .itLink { display:block; height:27px; line-height:27px; }
.menuRow .itLink:hover { background:#E5EBEC; }
.menuRow .itLink .menuTit { display:inline; float:left; padding-left:11px; }
.menuRow .itLink .menuTit .itName { display:inline; float:left; }
.menuRow .menuSub .itLink .menuTit { padding-left:24px; }
/* 左侧图标 */
.menuRow .itLink .menuTit .itDot { /*点图标*/ background:url(../images/icon.png) -621px -253px no-repeat; display:inline; float:left; margin:12px 4px 0 0; height:3px; width:3px; }
.menuRow .itLink .menuTit .itArrows { /*箭头收起图标*/ background:url(../images/icon.png) -167px -360px no-repeat; display:inline; float:left; margin:7px 4px 0 0; height:10px; width:10px; }
.menuRow .itLink .menuTit .itArrows1 { /*箭头展开图标*/ background:url(../images/icon.png) -150px -360px no-repeat; display:inline; float:left; margin:7px 4px 0 0; height:10px; width:10px; }
.menuRow .itLink .menuTit .itArrows2 { /*二级箭头图标*/ background:url(../images/icon.png) -591px -251px no-repeat; display:inline; float:left; margin:11px 4px 0 0; height:7px; width:9px; }
/* 右侧图标 */
.menuRow .itLink .itIcon { /*共享图标*/ background:url(../images/icon.png) -120px -20px no-repeat; display:inline; float:left; margin:11px 0 0 8px; height:8px; width:16px; }
.menuRow .itLink .itIcon1 { /*停止共享图标*/ background:url(../images/icon.png) -96px -16px no-repeat; display:inline; float:left; margin:7px 0 0 8px; height:12px; width:16px; }
.menuRow .itLink .itIcon2 { /*标签图标*/ background:url(../images/icon.png) -88px -160px no-repeat; display:inline; float:left; margin:7px 0 0 8px; height:13px; width:13px; }
.menuRow .itLink .itIcon3 { /*标签(灰)图标*/ background:url(../images/icon.png) -64px -160px no-repeat; display:inline; float:left; margin:7px 0 0 8px; height:13px; width:13px; }
.menuRow .itLink .itIcon4 { /*关注图标*/ background:url(../images/icon.png) -160px -184px no-repeat; display:inline; float:left; margin:6px 0 0 8px; height:15px; width:15px; }
.menuRow .itLink .itIcon5 { /*关注(灰)图标*/ background:url(../images/icon.png) -160px -160px no-repeat; display:inline; float:left; margin:6px 0 0 8px; height:15px; width:15px; }
.menuRow .itLink .itIcon6 { /*箭头上(灰)图标*/ background:url(../images/icon.png) -176px -32px no-repeat; display:inline; float:left; margin:10px 0 0 8px; height:7px; width:8px; }
.menuRow .itLink:hover .itIcon6 { /*箭头上图标*/ background:url(../images/icon.png) -176px -16px no-repeat; }
.menuRow .itLink .itIcon7 { /*箭头下(灰)图标*/ background:url(../images/icon.png) -192px -16px no-repeat; display:inline; float:left; margin:10px 0 0 8px; height:7px; width:8px; }
.menuRow .itLink:hover .itIcon7 { /*箭头下图标*/ background:url(../images/icon.png) -192px -32px no-repeat; }

/*End* Leftmenu **/
/********************左菜单结束******************************/

/********************当前位置******************************/
.positarea { height:40px; width:100%; }
.positarea .statein { display:inline; float:left; margin:8px 13px 0px 13px; }
.positarea .statein .positpic { display:inline; float:left; height:26px; }
.positarea .statein .positpic span.icon131 { display:inline; float:left; }
.positarea .statein .posittxt { color:#FFF; display:inline; float:left; height:26px; line-height:26px; padding-left:10px; }
/********************当前位置结束******************************/

/********************底部状态栏开始******************************/

/*Start* Copyright **/
.Copyright { width:100%; background:#999; text-align:center; line-height:20px; height:20px; float:left; display:inline; }

div.cprstate { height:20px; padding:0px 32px; clear:both; }
dl.cprin { width:600px; margin:0 auto; clear:both; float:none; display:block; z-index:1; }
dl.cprin dd.cprfl { color:#FFF; float:left; display:inline; }
dl.cprin dd.cprfl a { color:#FFF; margin:0px 4px; }
dl.cprin dt.cprfr { color:#FFF; float:right; display:inline; }
/*End* Copyright **/