@charset "utf-8";
/*----标签公共属性默认值设置----*/
html,body{
scrollbar-3dlight-color:#efefef;
scrollbar-highlight-color:#fff;
scrollbar-face-color:#efefef;
scrollbar-arrow-color:#666666;
scrollbar-shadow-color:#cccccc;
scrollbar-darkshadow-color:#D7DCE0;
scrollbar-base-color:#D7DCE0;
scrollbar-track-color:#f8f8f8;}

body{height:100%;padding:0px; margin:0px; border:none; font:12px/20px 宋体,microsoft yahei,Tahoma,Verdana,Arial;font-weight:lighter;word-break:break-all;word-wrap:break-word;color:#4d4d4d; background:#fff;}
div,ul,ol,li,dl,dt,dd,span,p,input,form,textarea,table,tr,td{ padding:0px; margin:0px; text-align:left; background:none; list-style:none;font-style:normal;font-weight:lighter; font:12px/20px 宋体,microsoft yahei,Tahoma,Verdana,Arial;color:#4d4d4d; line-height:180%; text-indent:0;text-overflow:ellipsis;background-position:inherit;word-break:break-all;word-wrap:break-word;z-index:0;outline:none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
img{margin:0px; padding:0px; vertical-align:middle; border:none;}
a img{vertical-align:middle; border:none;}
a:link,a:visited{color:#555;text-decoration:none;}
a:hover,a:active{color:#ff6600;text-decoration:none; cursor:pointer;}
a.undline:link,a.undline:visited{color:#0066CC;text-decoration:underline;}
a.undline:hover,a.undline:active{color:#ff6600;text-decoration:underline; cursor:pointer;}
div,ul,ol,li,dl,dt,dd{border:none;}
input,textarea{border:none;}
textarea{ resize:none;}
frame,frameset{ padding:0px; margin:0px;outline:none; border:0px; background:none;}
hr{ background:none; border:none; border-bottom:1px solid #ddd; padding:0;}


/*----按钮样式--button.png--*/
.bt1{ width:60px;height:26px;line-height:26px;background:url("../icon/button.png") -8px -40px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt2{ width:60px;height:26px;line-height:26px;background:url("../icon/button.png") -76px -40px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt3{ width:60px;height:26px;line-height:26px;background:url("../icon/button.png") -144px -40px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt4{ width:90px;height:30px;line-height:30px;background:url("../icon/button.png") -8px -88px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt5{ width:90px;height:30px;line-height:30px;background:url("../icon/button.png") -105px -88px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt6{ width:34px;height:26px;line-height:26px;background:url("../icon/button.png") -240px -39px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt7{ width:22px;height:28px;line-height:28px;background:url("../icon/button.png") -286px -40px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt8{ width:55px;height:10px;line-height:10px;background:url("../icon/button.png") -240px -80px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt9{ width:33px;height:26px;line-height:26px;background:url("../icon/button.png") -336px -40px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt10{ width:33px;height:26px;line-height:26px;background:url("../icon/button.png") -368px -40px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt11{ width:33px;height:26px;line-height:26px;background:url("../icon/button.png") -336px -74px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt12{ width:33px;height:26px;line-height:26px;background:url("../icon/button.png") -368px -74px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt13{ width:55px;height:10px;line-height:10px;background:url("../icon/button.png") -240px -130px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt14{ width:79px;height:26px;line-height:26px;background:url("../icon/button.png") -8px -232px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt15{ width:79px;height:26px;line-height:26px;background:url("../icon/button.png") -92px -232px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt16{ width:79px;height:26px;line-height:26px;background:url("../icon/button.png") -178px -232px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt17{ width:60px;height:26px;line-height:26px;background:url("../icon/button.png") -8px -272px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt18{ width:60px;height:26px;line-height:26px;background:url("../icon/button.png") -74px -272px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt19{ width:60px;height:26px;line-height:26px;background:url("../icon/button.png") -140px -272px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt20{ width:81px;height:26px;line-height:26px;background:url("../icon/button.png") -8px -304px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt21{ width:82px;height:26px;line-height:26px;background:url("../icon/button.png") -89px -304px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt22{ width:81px;height:26px;line-height:26px;background:url("../icon/button.png") -8px -335px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt23{ width:82px;height:26px;line-height:26px;background:url("../icon/button.png") -89px -335px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt24{ width:20px;height:26px;line-height:26px;background:url("../icon/button.png") -240px -96px no-repeat; text-align:center;cursor:pointer; cursor:pointer;overflow:hidden;}
.bt25{ width:70px;height:27px; line-height:27px; background:url("../icon/button.png") -308px -232px no-repeat; text-align:center;cursor:pointer;overflow:hidden;}
.bt26{ width:92px;height:27px;line-height:27px; background:url("../icon/button.png") -380px -232px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt27{ width:69px;height:26px;line-height:27px; background:url("../icon/button.png") -8px -131px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt28{ width:69px;height:26px;line-height:27px; background:url("../icon/button.png") -86px -131px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt29{ width:45px;height:17px;line-height:17px; background:url("../icon/button.png") -419px -41px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt30{ width:45px;height:17px;line-height:17px; background:url("../icon/button.png") -419px -61px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt31{ width:45px;height:17px;line-height:17px; background:url("../icon/button.png") -419px -83px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt32{ width:69px;height:26px;line-height:17px; background:url("../icon/button.png") -150px -126px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt33{ width:69px;height:26px;line-height:17px; background:url("../icon/button.png") -150px -159px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt34{ width:120px;height:42px;line-height:17px; background:url("../icon/button.png") -8px -135px no-repeat;text-align:center;cursor:pointer; overflow:hidden;}
.bt35{ width:120px;height:33px;line-height:17px; background:url("../icon/button.png") -236px -150px no-repeat;color:#fff;font-weight:bold;text-align:center;cursor:pointer; overflow:hidden;}
.bt36{ width:95px;height:26px;line-height:17px; background:url("../icon/button.png")  -382px -154px no-repeat;cursor:pointer; overflow:hidden;}
.bt37{ width:27px;height:27px;background:url("../icon/button.png") -336px -111px no-repeat;cursor:pointer; overflow:hidden;}
.bt38{ width:27px;height:27px;background:url("../icon/button.png") -372px -111px no-repeat;cursor:pointer; overflow:hidden;}

/*----图标样式--icon.png----*/
.icon1{ width:17px;height:15px;background:url("../icon/icon.png") -32px -48px no-repeat; overflow:hidden;cursor:pointer;}
.icon2{ width:17px;height:15px;background:url("../icon/icon.png") -60px -47px no-repeat; overflow:hidden;cursor:pointer;}
.icon3{ width:15px;height:13px;background:url("../icon/icon.png") -88px -47px no-repeat; overflow:hidden;cursor:pointer;}
.icon4{ width:16px;height:16px;background:url("../icon/icon.png") -1085px -131px no-repeat; overflow:hidden;cursor:pointer;}
.icon5{ width:16px;height:16px;background:url("../icon/icon.png") -112px -99px no-repeat; overflow:hidden;cursor:pointer;}
.icon6{ width:18px;height:13px;background:url("../icon/icon.png") -112px -126px no-repeat; overflow:hidden;cursor:pointer;}
.icon7{ width:16px;height:17px;background:url("../icon/icon.png") -112px -152px no-repeat; overflow:hidden;cursor:pointer;}
.icon8{ width:17px;height:13px;background:url("../icon/icon.png") -32px -75px no-repeat; overflow:hidden;}
.icon9{ width:17px;height:15px;background:url("../icon/icon.png") -60px -74px no-repeat; overflow:hidden;}
.icon10{ width:14px;height:16px;background:url("../icon/icon.png") -87px -73px no-repeat; overflow:hidden;cursor:pointer;}
.icon11{ width:15px;height:13px;background:url("../icon/icon.png") -443px -245px no-repeat; overflow:hidden;}
.icon12{ width:15px;height:16px;background:url("../icon/icon.png") -32px -99px no-repeat; overflow:hidden;}
.icon13{ width:14px;height:13px;background:url("../icon/icon.png") -59px -103px no-repeat; overflow:hidden;}
.icon14{ width:16px;height:15px;background:url("../icon/icon.png") -86px -100px no-repeat; overflow:hidden;}
.icon15{}
.icon16{}
.icon17{ width:13px;height:13px;background:url("../icon/icon.png") -88px -126px no-repeat; overflow:hidden;}
.icon18{ width:13px;height:16px;background:url("../icon/icon.png") -64px -151px no-repeat; overflow:hidden;}
.icon19{ width:12px;height:12px;background:url("../icon/icon.png") -636px -346px no-repeat; overflow:hidden;cursor:pointer;}
.icon20{ width:14px;height:16px;background:url("../icon/icon.png") -33px -247px no-repeat; overflow:hidden;}
.icon21{ width:17px;height:17px;background:url("../icon/icon.png") -53px -246px no-repeat; overflow:hidden;}
.icon22{ width:18px;height:18px;background:url("../icon/icon.png") -76px -246px no-repeat; overflow:hidden;}
.icon23{ width:16px;height:16px;background:url("../icon/icon.png") -31px -278px no-repeat; overflow:hidden;}
.icon24{ width:16px;height:16px;background:url("../icon/icon.png") -54px -277px no-repeat; overflow:hidden;}
.icon25{ width:18px;height:18px;background:url("../icon/icon.png") -76px -276px no-repeat; overflow:hidden;}
.icon26{ width:16px;height:16px;background:url("../icon/icon.png") -32px -304px no-repeat; overflow:hidden;}
.icon27{ width:16px;height:16px;background:url("../icon/icon.png") -53px -302px no-repeat; overflow:hidden;}
.icon28{ width:18px;height:18px;background:url("../icon/icon.png") -76px -301px no-repeat; overflow:hidden;}
.icon29{ width:13px;height:13px;background:url("../icon/icon.png") -32px -334px no-repeat; overflow:hidden;cursor:pointer;}
.icon30{ width:13px;height:13px;background:url("../icon/icon.png") -52px -334px no-repeat; overflow:hidden;cursor:pointer;}
.icon31{ width:14px;height:14px;background:url("../icon/icon.png") -32px -360px no-repeat; overflow:hidden;cursor:pointer;}
.icon32{ width:14px;height:14px;background:url("../icon/icon.png") -51px -360px no-repeat; overflow:hidden;cursor:pointer;}
.icon33{ width:50px;height:17px;background:url("../icon/icon.png") -135px -249px no-repeat; overflow:hidden;}
.icon34{ width:50px;height:17px;background:url("../icon/icon.png") -135px -274px no-repeat; overflow:hidden;}
.icon35{ width:50px;height:17px;background:url("../icon/icon.png") -135px -301px no-repeat; overflow:hidden;}
.icon36{ width:8px;height:5px;background:url("../icon/icon.png") -104px -343px no-repeat; overflow:hidden;cursor:pointer;}
.icon37{ width:8px;height:5px;background:url("../icon/icon.png") -124px -344px no-repeat; overflow:hidden;cursor:pointer;}
.icon38{ width:4px;height:8px;background:url("../icon/icon.png") -144px -341px no-repeat; overflow:hidden;cursor:pointer;}
.icon39{ width:8px;height:5px;background:url("../icon/icon.png") -158px -339px no-repeat; overflow:hidden;cursor:pointer;}
.icon40{ width:8px;height:5px;background:url("../icon/icon.png") -169px -339px no-repeat; overflow:hidden;cursor:pointer;}
.icon41{ width:8px;height:5px;background:url("../icon/icon.png") -158px -345px no-repeat; overflow:hidden;cursor:pointer;}
.icon42{ width:8px;height:5px;background:url("../icon/icon.png") -169px -339px no-repeat; overflow:hidden;cursor:pointer;}
.icon43{ width:8px;height:5px;background:url("../icon/icon.png") -169px -345px no-repeat; overflow:hidden;cursor:pointer;}
.icon44{ width:15px;height:15px;background:url("../icon/icon.png") -228px -240px no-repeat; overflow:hidden;}
.icon45{ width:16px;height:15px;background:url("../icon/icon.png") -248px -240px no-repeat; overflow:hidden;}
.icon46{ width:16px;height:15px;background:url("../icon/icon.png") -269px -240px no-repeat; overflow:hidden;}
.icon47{ width:28px;height:28px;background:url("../icon/icon.png") -223px -271px no-repeat; overflow:hidden;}
.icon48{ width:28px;height:28px;background:url("../icon/icon.png") -262px -271px no-repeat; overflow:hidden;}
.icon49{ width:28px;height:28px;background:url("../icon/icon.png") -301px -271px no-repeat; overflow:hidden;}
.icon50{ width:62px;height:62px;background:url("../icon/icon.png") -216px -308px no-repeat; overflow:hidden;}
.icon51{ width:62px;height:62px;background:url("../icon/icon.png") -302px -308px no-repeat; overflow:hidden;}
.icon52{ width:62px;height:62px;background:url("../icon/icon.png") -442px -276px no-repeat; overflow:hidden;}
.icon53{ width:20px;height:17px;background:url("../icon/icon.png") -477px -312px no-repeat; cursor:pointer; overflow:hidden;}
.icon54{ width:20px;height:17px;background:url("../icon/icon.png") -508px -312px no-repeat; cursor:pointer; overflow:hidden;}
.icon55{ width:20px;height:17px;background:url("../icon/icon.png") -537px -312px no-repeat; cursor:pointer; overflow:hidden;}
.icon56{ width:29px;height:24px;background:url("../icon/icon.png") -568px -312px no-repeat; cursor:pointer; overflow:hidden;}
.icon57{ width:16px;height:16px;background:url("../icon/icon.png") -32px -433px no-repeat; overflow:hidden;cursor:pointer;}
.icon58{ width:16px;height:16px;background:url("../icon/icon.png") -54px -432px no-repeat; overflow:hidden;cursor:pointer;}
.icon59{ width:16px;height:16px;background:url("../icon/icon.png") -76px -432px no-repeat; overflow:hidden;cursor:pointer;}
.icon60{ width:16px;height:16px;background:url("../icon/icon.png") -98px -432px no-repeat; overflow:hidden;cursor:pointer;}
.icon61{ width:16px;height:16px;background:url("../icon/icon.png") -124px -432px no-repeat; overflow:hidden;cursor:pointer;}
.icon62{ width:16px;height:16px;background:url("../icon/icon.png") -151px -434px no-repeat; overflow:hidden;cursor:pointer;}
.icon63{ width:18px;height:18px;background:url("../icon/icon.png") -33px -470px no-repeat; overflow:hidden;cursor:pointer;}
.icon64{ width:24px;height:17px;background:url("../icon/icon.png") -62px -470px no-repeat; overflow:hidden;cursor:pointer;}
.icon65{ width:17px;height:18px;background:url("../icon/icon.png") -99px -470px no-repeat; overflow:hidden;cursor:pointer;}
.icon66{ width:17px;height:17px;background:url("../icon/icon.png") -130px -470px no-repeat; overflow:hidden;cursor:pointer;}
.icon67{ width:26px;height:24px;background:url("../icon/icon.png") -605px -312px no-repeat; cursor:pointer; overflow:hidden;}
.icon68{ width:15px;height:15px;background:url("../icon/icon.png") -137px -47px no-repeat; overflow:hidden;}
.icon69{ width:15px;height:15px;background:url("../icon/icon.png") -137px -71px no-repeat; overflow:hidden;}
.icon70{ width:11px;height:10px;background:url("../icon/icon.png") -637px -347px no-repeat; overflow:hidden;}
.icon71{ width:6px;height:10px;background:url("../icon/icon.png") -548px -346px no-repeat; cursor:move; overflow:hidden;}
.icon72{ width:6px;height:10px;background:url("../icon/icon.png") -575px -346px no-repeat; cursor:pointer; overflow:hidden;}

.icon73{ width:32px;height:24px;background:url("../icon/icon.png") -690px -247px no-repeat; overflow:hidden;}
.icon74{ width:26px;height:26px;background:url("../icon/icon.png") -740px -245px no-repeat; overflow:hidden;}
.icon75{ width:26px;height:26px;background:url("../icon/icon.png") -782px -246px no-repeat; overflow:hidden;}
.icon76{ width:26px;height:26px;background:url("../icon/icon.png") -826px -246px no-repeat; overflow:hidden;}
.icon77{ width:32px;height:28px;background:url("../icon/icon.png") -870px -246px no-repeat; overflow:hidden;}
.icon78{ width:26px;height:26px;background:url("../icon/icon.png") -914px -247px no-repeat; overflow:hidden;}
.icon79{ width:24px;height:24px;background:url("../icon/icon.png") -960px -248px no-repeat; overflow:hidden;}

.icon80{ width:32px;height:24px;background:url("../icon/icon.png") -690px -281px no-repeat; overflow:hidden;}
.icon81{ width:26px;height:26px;background:url("../icon/icon.png") -740px -280px no-repeat; overflow:hidden;}
.icon82{ width:26px;height:26px;background:url("../icon/icon.png") -782px -281px no-repeat; overflow:hidden;}
.icon83{ width:26px;height:26px;background:url("../icon/icon.png") -826px -281px no-repeat; overflow:hidden;}
.icon84{ width:32px;height:28px;background:url("../icon/icon.png") -870px -281px no-repeat; overflow:hidden;}
.icon85{ width:26px;height:26px;background:url("../icon/icon.png") -914px -282px no-repeat; overflow:hidden;}
.icon86{ width:24px;height:24px;background:url("../icon/icon.png") -960px -283px no-repeat; overflow:hidden;}

.icon87{ width:19px;height:19px;background:url("../icon/icon.png") -689px -322px no-repeat; overflow:hidden;}
.icon88{ width:19px;height:19px;background:url("../icon/icon.png") -723px -322px no-repeat; overflow:hidden;}
.icon89{ width:19px;height:19px;background:url("../icon/icon.png") -757px -322px no-repeat; overflow:hidden;}

.icon90{ width:79px;height:92px;background:url("../icon/icon.png") -168px -47px no-repeat; overflow:hidden;}
.icon91{ width:79px;height:92px;background:url("../icon/icon.png") -250px -47px no-repeat; overflow:hidden;}
.icon92{ width:50px;height:49px;background:url("../icon/icon.png") -178px -143px no-repeat; overflow:hidden;}
.icon93{ width:12px;height:12px;background:url("../icon/icon.png") -138px -100px no-repeat; overflow:hidden; cursor:pointer;}
.icon94{ width:16px;height:15px;background:url("../icon/icon.png") -137px -123px no-repeat; overflow:hidden;cursor:pointer;}
.icon95{ width:14px;height:13px;background:url("../icon/icon.png") -137px -152px no-repeat; overflow:hidden;cursor:pointer;}
.icon96{ width:18px;height:17px;background:url("../icon/icon.png") -590px -280px no-repeat; overflow:hidden;cursor:pointer;}

.icon97{ width:43px;height:45px;background:url("../icon/icon.png") -355px -46px no-repeat; overflow:hidden;}
.icon98{ width:50px;height:50px;background:url("../icon/icon.png") -414px -46px no-repeat; overflow:hidden;}
.icon99{ width:48px;height:47px;background:url("../icon/icon.png") -478px -46px no-repeat; overflow:hidden;}
.icon100{ width:46px;height:49px;background:url("../icon/icon.png") -533px -46px no-repeat; overflow:hidden;}
.icon101{ width:97px;height:81px;background:url("../icon/icon.png") -416px -104px no-repeat; overflow:hidden;}
.icon102{ width:40px;height:47px;background:url("../icon/icon.png") -533px -104px no-repeat; overflow:hidden;}
.icon103{ width:16px;height:20px;background:url("../icon/icon.png") -356px -102px no-repeat; overflow:hidden;}
.icon104{ width:14px;height:23px;background:url("../icon/icon.png") -356px -128px no-repeat; overflow:hidden;}
.icon105{ width:17px;height:22px;background:url("../icon/icon.png") -356px -158px no-repeat; overflow:hidden;}
.icon106{ width:17px;height:17px;background:url("../icon/icon.png") -379px -102px no-repeat; overflow:hidden;}
.icon107{ width:64px;height:83px;background:url("../icon/icon.png") -595px -47px no-repeat; overflow:hidden;}
.icon108{ width:10px;height:10px;background:url("../icon/icon.png") -80px -337px no-repeat; overflow:hidden;cursor:pointer;}
.icon109{ width:10px;height:10px;background:url("../icon/icon.png") -80px -361px no-repeat; overflow:hidden;cursor:pointer;}
.icon110{ width:10px;height:10px;background:url("../icon/icon.png") -104px -362px no-repeat; overflow:hidden;cursor:pointer;}
.icon111{ width:10px;height:10px;background:url("../icon/icon.png") -128px -362px no-repeat; overflow:hidden;cursor:pointer;}
.icon112{ width:10px;height:10px;background:url("../icon/icon.png") -150px -360px no-repeat; overflow:hidden;cursor:pointer;}
.icon113{ width:10px;height:10px;background:url("../icon/icon.png") -167px -360px no-repeat; overflow:hidden;cursor:pointer;}
.icon114{ width:180px;height:38px;background:url("../icon/icon.png") -28px -600px no-repeat; overflow:hidden;cursor:pointer;}
.icon115{ width:180px;height:38px;background:url("../icon/icon.png") -28px -643px no-repeat; overflow:hidden;cursor:pointer;}
.icon116{ width:180px;height:38px;background:url("../icon/icon.png") -28px -686px no-repeat; overflow:hidden;cursor:pointer;}
.icon117{ width:180px;height:38px;background:url("../icon/icon.png") -217px -600px no-repeat; overflow:hidden;cursor:pointer;}
.icon118{ width:180px;height:38px;background:url("../icon/icon.png") -217px -643px no-repeat; overflow:hidden;cursor:pointer;}
.icon119{ width:180px;height:38px;background:url("../icon/icon.png") -217px -686px no-repeat; overflow:hidden;cursor:pointer;}
.icon120{ width:180px;height:38px;background:url("../icon/icon.png") -404px -600px no-repeat; overflow:hidden;cursor:pointer;}
.icon121{ width:180px;height:38px;background:url("../icon/icon.png") -404px -643px no-repeat; overflow:hidden;cursor:pointer;}
.icon122{ width:180px;height:38px;background:url("../icon/icon.png") -404px -686px no-repeat; overflow:hidden;cursor:pointer;}
.icon123{ width:77px;height:32px;background:url("../icon/icon.png") -616px -600px no-repeat; overflow:hidden;cursor:pointer;}
.icon124{ width:77px;height:32px;background:url("../icon/icon.png") -616px -642px no-repeat; overflow:hidden;cursor:pointer;}
.icon125{ width:29px;height:29px;background:url("../icon/icon.png") -642px -689px no-repeat; overflow:hidden;}
.icon126{ width:14px;height:12px;background:url("../icon/icon.png") -62px -179px no-repeat; overflow:hidden;}
.icon127{ width:11px;height:11px;background:url("../icon/icon.png") -88px -179px no-repeat; overflow:hidden;}
.icon128{ width:180px;height:12px;background:url("../icon/icon.png") -1079px -600px no-repeat; overflow:hidden;}
.icon129{ width:89px;height:31px;background:url("../icon/icon.png") -720px -639px no-repeat; overflow:hidden;}
.icon131{ width:27px;height:26px;background:url("../icon/icon.png") -720px -673px no-repeat; overflow:hidden;cursor:pointer;}
.icon131_1{ width:140px;height:26px;background:url("../icon/icon.png") -720px -673px no-repeat; overflow:hidden;cursor:pointer;}
.icon132{ width:80px;height:26px;background:url("../icon/icon.png") -720px -727px no-repeat; overflow:hidden;}
.icon133{ width:85px;height:22px;background:url("../icon/icon.png") -924px -640px no-repeat; overflow:hidden;}
.icon134{ width:147px;height:22px;background:url("../icon/icon.png") -924px -663px no-repeat; overflow:hidden;}
.icon135{ width:92px;height:28px;background:url("../icon/icon.png") -924px -686px no-repeat; overflow:hidden;}
.icon136{ width:92px;height:28px;background:url("../icon/icon.png") -924px -715px no-repeat; overflow:hidden;}
.icon137{ width:34px;height:26px;background:url("../icon/icon.png") -860px -673px no-repeat; overflow:hidden;cursor:pointer;}
.icon138{ width:11px;height:9px;background:url("../icon/icon.png") -590px -250px no-repeat; overflow:hidden;cursor:pointer;}
.icon139{ width:3px;height:3px;background:url("../icon/icon.png") -621px -253px no-repeat; overflow:hidden;cursor:pointer;}
.icon140{ width:10px;height:55px;background:url("../icon/icon.png") -1327px -600px no-repeat; overflow:hidden;cursor:pointer;}
.icon141{ width:10px;height:55px;background:url("../icon/icon.png") -1327px -680px no-repeat; overflow:hidden;cursor:pointer;}
.icon142{ width:19px;height:24px;background:url("../icon/icon.png") -568px -339px no-repeat; overflow:hidden; cursor:move;}
.icon143{ width:15px;height:13px;background:url("../icon/icon.png") -112px -179px no-repeat; overflow:hidden;cursor:pointer;}
.icon144{ width:18px;height:18px;background:url("../icon/icon.png") -134px -178px no-repeat; overflow:hidden;cursor:pointer;}
.icon145{ width:13px;height:13px;background:url("../icon/icon.png") -612px -346px no-repeat; overflow:hidden;cursor:pointer;}
.icon146{ width:16px;height:20px;background:url("../icon/icon.png") -692px -352px no-repeat; overflow:hidden;cursor:pointer;}
.icon147{ width:16px;height:20px;background:url("../icon/icon.png") -712px -352px no-repeat; overflow:hidden;cursor:pointer;}
.icon148{ width:61px;height:63px;background:url("../icon/icon.png") -672px -46px no-repeat; overflow:hidden;}
.icon149{ width:55px;height:47px;background:url("../icon/icon.png") -676px -135px no-repeat; overflow:hidden;}
.icon150{ width:61px;height:61px;background:url("../icon/icon.png") -773px -48px no-repeat; overflow:hidden;}
.icon151{ width:60px;height:60px;background:url("../icon/icon.png") -774px -129px no-repeat; overflow:hidden;}

.icon152{ width:25px;height:30px;background:url("../icon/icon.png") -860px -48px no-repeat; overflow:hidden;}
.icon153{ width:28px;height:30px;background:url("../icon/icon.png") -892px -48px no-repeat; overflow:hidden;}
.icon154{ width:25px;height:25px;background:url("../icon/icon.png") -341px -235px no-repeat; overflow:hidden;}

.icon155{ width:24px;height:28px;background:url("../icon/icon.png") -260px -142px no-repeat; overflow:hidden;}
.icon156{ width:24px;height:28px;background:url("../icon/icon.png") -285px -142px no-repeat; overflow:hidden;}
.icon157{ width:10px;height:10px;background:url("../icon/icon.png") -596px -348px no-repeat; overflow:hidden;}

.icon158{ width:16px;height:16px;background:url("../icon/icon.png") -788px -324px no-repeat; overflow:hidden;}
.icon159{ width:16px;height:16px;background:url("../icon/icon.png") -816px -324px no-repeat; overflow:hidden;}
.icon160{ width:16px;height:16px;background:url("../icon/icon.png") -844px -324px no-repeat; overflow:hidden;}
.icon161{ width:16px;height:16px;background:url("../icon/icon.png") -871px -324px no-repeat; overflow:hidden;}
.icon162{ width:18px;height:18px;background:url("../icon/icon.png") -1010px -250px no-repeat; overflow:hidden;}
.icon163{ width:18px;height:18px;background:url("../icon/icon.png") -1010px -286px no-repeat; overflow:hidden;}
.icon164{ width:18px;height:18px;background:url("../icon/icon.png") -1042px -250px no-repeat; overflow:hidden;}
.icon165{ width:18px;height:18px;background:url("../icon/icon.png") -1042px -286px no-repeat; overflow:hidden;}
.icon166{ width:18px;height:18px;background:url("../icon/icon.png") -1076px -250px no-repeat; overflow:hidden;}
.icon167{ width:18px;height:18px;background:url("../icon/icon.png") -1076px -286px no-repeat; overflow:hidden;}
.icon168{ width:21px;height:19px;background:url("../icon/icon.png") -861px -94px no-repeat; overflow:hidden;}
.icon169{ width:20px;height:18px;background:url("../icon/icon.png") -896px -94px no-repeat; overflow:hidden;}
.icon170{ width:18px;height:18px;background:url("../icon/icon.png") -864px -128px no-repeat; overflow:hidden;}
.icon171{ width:15px;height:15px;background:url("../icon/icon.png") -864px -159px no-repeat; overflow:hidden;}
.icon172{ width:120px;height:78px;background:url("../icon/icon.png") -944px -37px no-repeat; overflow:hidden;}
.icon173{ width:120px;height:80px;background:url("../icon/icon.png") -944px -118px no-repeat; overflow:hidden;}
.icon174{ width:12px;height:12px;background:url("../icon/icon.png") -32px -500px no-repeat; overflow:hidden;}
.icon175{ width:12px;height:12px;background:url("../icon/icon.png") -56px -500px no-repeat; overflow:hidden;}
.icon176{ width:12px;height:12px;background:url("../icon/icon.png") -80px -500px no-repeat; overflow:hidden;}
.icon177{ width:20px;height:25px;background:url("../icon/icon.png") -32px -524px no-repeat; overflow:hidden;cursor:pointer;}
.icon178{ width:25px;height:25px;background:url("../icon/icon.png") -64px -524px no-repeat; overflow:hidden;cursor:pointer;}
.icon179{ width:20px;height:23px;background:url("../icon/icon.png") -96px -524px no-repeat; overflow:hidden;cursor:pointer;}
.icon180{ width:24px;height:21px;background:url("../icon/icon.png") -124px -524px no-repeat; overflow:hidden;cursor:pointer;}
.icon181{ width:19px;height:15px;background:url("../icon/icon.png") -160px -471px no-repeat; overflow:hidden;cursor:pointer;}

.icon182{ width:18px;height:18px;background:url("../icon/icon.png") -1352px -600px no-repeat; overflow:hidden;}
.icon183{ width:18px;height:18px;background:url("../icon/icon.png") -1387px -600px no-repeat; overflow:hidden;}
.icon184{ width:18px;height:18px;background:url("../icon/icon.png") -897px -125px no-repeat; overflow:hidden;}

.icon185{ width:18px;height:18px;background:url("../icon/icon.png") -208px -470px no-repeat; overflow:hidden;cursor:pointer;}
.icon186{ width:24px;height:16px;background:url("../icon/icon.png") -237px -471px no-repeat; overflow:hidden;cursor:pointer;}
.icon187{ width:19px;height:19px;background:url("../icon/icon.png") -273px -470px no-repeat; overflow:hidden;cursor:pointer;}
.icon188{ width:17px;height:17px;background:url("../icon/icon.png") -304px -468px no-repeat; overflow:hidden;cursor:pointer;}
.icon189{ width:14px;height:14px;background:url("../icon/icon.png") -866px -182px no-repeat; overflow:hidden;}
.icon190{ width:14px;height:14px;background:url("../icon/icon.png") -882px -182px no-repeat; overflow:hidden;}
.icon191{ width:9px;height:9px;background:url("../icon/icon.png") -638px -347px no-repeat; overflow:hidden;}

.icon192{ width:16px;height:16px;background:url("../icon/icon.png") -208px -501px no-repeat; overflow:hidden;cursor:pointer;}
.icon193{ width:17px;height:18px;background:url("../icon/icon.png") -236px -499px no-repeat; overflow:hidden;cursor:pointer;}
.icon194{ width:19px;height:19px;background:url("../icon/icon.png") -261px -500px no-repeat; overflow:hidden;cursor:pointer;}
.icon195{ width:21px;height:17px;background:url("../icon/icon.png") -288px -501px no-repeat; overflow:hidden;cursor:pointer;}

.icon196{ width:16px;height:16px;background:url("../icon/icon.png") -208px -528px no-repeat; overflow:hidden;cursor:pointer;}
.icon197{ width:17px;height:18px;background:url("../icon/icon.png") -236px -526px no-repeat; overflow:hidden;cursor:pointer;}
.icon198{ width:19px;height:19px;background:url("../icon/icon.png") -261px -527px no-repeat; overflow:hidden;cursor:pointer;}
.icon199{ width:21px;height:17px;background:url("../icon/icon.png") -288px -528px no-repeat; overflow:hidden;cursor:pointer;}

.icon200{ width:13px;height:13px;background:url("../icon/icon.png") -1089px -45px no-repeat; overflow:hidden;}
.icon201{ width:10px;height:14px;background:url("../icon/icon.png") -1118px -44px no-repeat; overflow:hidden;}
.icon202{ width:14px;height:14px;background:url("../icon/icon.png") -1143px -44px no-repeat; overflow:hidden;}
.icon203{ width:18px;height:14px;background:url("../icon/icon.png") -1170px -44px no-repeat; overflow:hidden;}

.icon204{ width:10px;height:14px;background:url("../icon/icon.png") -1118px -67px no-repeat; overflow:hidden;}
.icon205{ width:14px;height:14px;background:url("../icon/icon.png") -1143px -67px no-repeat; overflow:hidden;}
.icon206{ width:18px;height:14px;background:url("../icon/icon.png") -1170px -67px no-repeat; overflow:hidden;}
.icon207{ width:11px;height:11px;background:url("../icon/icon.png") -1201px -46px no-repeat; overflow:hidden;}
.icon208{ width:23px;height:28px;background:url("../icon/icon.png") -1084px -88px no-repeat; overflow:hidden;}
.icon209{ width:15px;height:11px;background:url("../icon/icon.png") -1113px -97px no-repeat; overflow:hidden;}
.icon210{ width:10px;height:8px;background:url("../icon/icon.png") -1137px -99px no-repeat; overflow:hidden;}

.icon211{ width:24px;height:16px;background:url("../icon/icon.png") -400px -244px no-repeat #fff; overflow:hidden;}
.icon212{ width:24px;height:16px;background:url("../icon/icon.png") -400px -272px no-repeat #fff; overflow:hidden;}
.icon213{ width:7px;height:7px;background:url("../icon/icon.png") -482px -285px no-repeat; overflow:hidden;}
.icon214{ width:7px;height:7px;background:url("../icon/icon.png") -547px -285px no-repeat; overflow:hidden;}

.icon215{ width:25px;height:24px;background:url("../icon/icon.png") -476px -240px no-repeat; overflow:hidden;cursor:pointer;}
.icon216{ width:25px;height:24px;background:url("../icon/icon.png") -511px -240px no-repeat; overflow:hidden;cursor:pointer;}
.icon217{ width:25px;height:24px;background:url("../icon/icon.png") -543px -240px no-repeat; overflow:hidden;cursor:pointer;}
.icon218{ width:14px;height:9px;background:url("../icon/icon.png") -770px -359px no-repeat; overflow:hidden;cursor:pointer;}
.icon219{ width:11px;height:14px;background:url("../icon/icon.png") -819px -357px no-repeat; overflow:hidden;cursor:pointer;}

.icon220{ width:8px;height:7px;background:url("../icon/icon.png") -874px -362px no-repeat; overflow:hidden;cursor:pointer;}
.icon221{ width:8px;height:7px;background:url("../icon/icon.png") -898px -362px no-repeat; overflow:hidden;cursor:pointer;}

.icon222{ width:10px;height:10px;background:url("../icon/icon.png") -1120px -252px no-repeat; overflow:hidden;cursor:pointer;}
.icon223{ width:10px;height:10px;background:url("../icon/icon.png") -1120px -289px no-repeat; overflow:hidden;cursor:pointer;}

.icon224{ width:16px;height:16px;background:url("../icon/icon.png") -208px -432px no-repeat; overflow:hidden;cursor:pointer;}
.icon225{ width:16px;height:16px;background:url("../icon/icon.png") -238px -432px no-repeat; overflow:hidden;cursor:pointer;}
.icon226{ width:16px;height:16px;background:url("../icon/icon.png") -272px -432px no-repeat; overflow:hidden;cursor:pointer;}

.icon227{ width:12px;height:11px;background:url("../icon/icon.png") -1242px -46px no-repeat; overflow:hidden;cursor:pointer;}
.icon228{ width:17px;height:12px;background:url("../icon/icon.png") -1269px -44px no-repeat; overflow:hidden;cursor:pointer;}
.icon229{ width:14px;height:16px;background:url("../icon/icon.png") -1302px -42px no-repeat; overflow:hidden;cursor:pointer;}
.icon230{ width:16px;height:16px;background:url("../icon/icon.png") -1331px -42px no-repeat; overflow:hidden;cursor:pointer;}
.icon231{ width:12px;height:16px;background:url("../icon/icon.png") -1364px -42px no-repeat; overflow:hidden;cursor:pointer;}

.icon232{ width:12px;height:11px;background:url("../icon/icon.png") -1242px -80px no-repeat; overflow:hidden;cursor:pointer;}
.icon233{ width:17px;height:12px;background:url("../icon/icon.png") -1269px -78px no-repeat; overflow:hidden;cursor:pointer;}
.icon234{ width:14px;height:16px;background:url("../icon/icon.png") -1302px -76px no-repeat; overflow:hidden;cursor:pointer;}
.icon235{ width:16px;height:16px;background:url("../icon/icon.png") -1331px -76px no-repeat; overflow:hidden;cursor:pointer;}
.icon236{ width:12px;height:16px;background:url("../icon/icon.png") -1364px -76px no-repeat; overflow:hidden;cursor:pointer;}

.icon237{ width:16px;height:12px;background:url("../icon/icon.png") -1244px -113px no-repeat; overflow:hidden;cursor:pointer;}
.icon238{ width:16px;height:12px;background:url("../icon/icon.png") -1280px -113px no-repeat; overflow:hidden;cursor:pointer;}
.icon239{ width:16px;height:16px;background:url("../icon/icon.png") -1113px -131px no-repeat; overflow:hidden;cursor:pointer;}
.icon240{ width:22px;height:22px;background:url("../icon/icon.png") -1085px -159px no-repeat; overflow:hidden;cursor:pointer;}
.icon241{ width:17px;height:15px;background:url("../icon/icon.png") -1140px -131px no-repeat; overflow:hidden;cursor:pointer;}

.icon242{ width:15px;height:15px;background:url("../icon/icon.png") -290px -240px no-repeat; overflow:hidden;cursor:pointer;}
.icon243{ width:28px;height:28px;background:url("../icon/icon.png") -339px -271px no-repeat; overflow:hidden;cursor:pointer;}
.icon244{ width:62px;height:62px;background:url("../icon/icon.png") -474px -308px no-repeat; overflow:hidden;cursor:pointer;}

.icon245{ width:8px;height:5px;background:url("../icon/icon.png") -184px -345px no-repeat; overflow:hidden;cursor:pointer;}
.icon246{ width:8px;height:5px;background:url("../icon/icon.png") -195px -338px no-repeat; overflow:hidden;cursor:pointer;}
.icon247{ width:8px;height:5px;background:url("../icon/icon.png") -195px -345px no-repeat; overflow:hidden;cursor:pointer;}
.icon248{ width:15px;height:15px;background:url("../icon/icon.png") -1170px -131px no-repeat; overflow:hidden;cursor:pointer;}
.icon249{ width:20px;height:16px;background:url("../icon/icon.png") -1113px -160px no-repeat; overflow:hidden;cursor:pointer;}
.icon250{ width:13px;height:16px;background:url("../icon/icon.png") -1146px -160px no-repeat; overflow:hidden;cursor:pointer;}
.icon251{ width:12px;height:12px;background:url("../icon/icon.png") -1245px -139px no-repeat; overflow:hidden;cursor:pointer;}
.icon252{ width:12px;height:12px;background:url("../icon/icon.png") -1274px -139px no-repeat; overflow:hidden;cursor:pointer;}
.icon253{ width:9px;height:6px;background:url("../icon/icon.png") -924px -363px no-repeat; overflow:hidden; cursor:pointer;}
.icon254{ width:16px;height:15px;background:url("../icon/icon.png") -1421px -45px no-repeat; overflow:hidden; cursor:pointer;}
.icon255{ width:15px;height:15px;background:url("../icon/icon.png") -1450px -45px no-repeat; overflow:hidden; cursor:pointer;}
.icon256{ width:15px;height:15px;background:url("../icon/icon.png") -1476px -45px no-repeat; overflow:hidden; cursor:pointer;}
.icon257{ width:15px;height:15px;background:url("../icon/icon.png") -1500px -45px no-repeat; overflow:hidden; cursor:pointer;}
.icon258{ width:13px;height:13px;background:url("../icon/icon.png") -1246px -164px no-repeat; overflow:hidden; cursor:pointer;}
.icon259{ width:13px;height:13px;background:url("../icon/icon.png") -1273px -164px no-repeat; overflow:hidden; cursor:pointer;}
.icon260{ width:18px;height:25px;background:url("../icon/icon.png") -602px -147px no-repeat; overflow:hidden; cursor:pointer;}
.icon261{ width:37px;height:40px;background:url("../icon/icon.png") -1600px -45px no-repeat; overflow:hidden; cursor:pointer;}
.icon262{ width:37px;height:40px;background:url("../icon/icon.png") -1556px -45px no-repeat; overflow:hidden; cursor:pointer;}
.icon263{ width:11px;height:11px;background:url("../icon/icon.png") -1305px -116px no-repeat; overflow:hidden; cursor:pointer;}





/*----按钮横向渐变类样式-用于input控件按钮背景---x.png----*/
.xbt1{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") 0px -103px repeat-x; text-align:center; color:#FFF; cursor:pointer; border:#53A80D 1px solid;}
.xbt2{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") -8px -144px repeat-x; text-align:center; color:#FFF; cursor:pointer; border:#53A80D 1px solid;}
.xbt3{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") -8px -185px repeat-x; text-align:center; color:#FFF; cursor:pointer; border:#53A80D 1px solid;}
.xbt4{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") -4px -224px repeat-x; text-align:center; line-height:20px;cursor:pointer;border:#dddddd 1px solid;}
.xbt5{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") -4px -263px repeat-x; text-align:center; line-height:20px;cursor:pointer;border:#dddddd 1px solid;}
.xbt6{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") -4px -301px repeat-x; text-align:center; line-height:20px;cursor:pointer;border:#dddddd 1px solid;}
.xbt7{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") 0px -338px repeat-x; text-align:center; color:#FFF; cursor:pointer;border:#dddddd 1px solid;}
.xbt8{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") 0px -340px repeat-x; text-align:center; color:#FFF; cursor:pointer;border:#dddddd 1px solid;}
.xbt9{ width:auto;height:24px;line-height:20px;background:url("../icon/xbt.png") 0px -408px repeat-x; text-align:center; color:#FFF; cursor:pointer;border:#dddddd 1px solid;}
.xbt10{ width:auto;height:26px;line-height:20px;background:url("../icon/xbt.png") 0px -438px repeat-x; text-align:center; color:#FFF; cursor:pointer;border:#dddddd 1px solid;}
.xbt11{ width:auto;height:26px;line-height:20px;background:url("../icon/xbt.png") 0px -472px repeat-x; text-align:center; line-height:20px;cursor:pointer;border:#dddddd 1px solid;}
.xbt12{ width:auto;height:38px;line-height:20px;background:url("../icon/xbt.png") 0px -521px repeat-x; text-align:center;color:#FFF; font-weight:bold; font-size:14px; line-height:20px;cursor:pointer;border:#25AAE1 1px solid;}


/*----形状类样式--shape.png----*/
.shape1{ width:20px;height:8px;background:url("../icon/shape.png") -20px -32px no-repeat; overflow:hidden;}
.shape2{ width:20px;height:8px;background:url("../icon/shape.png") -93px -64px no-repeat; overflow:hidden;}
.shape3{ width:22px;height:29px;background:url("../icon/shape.png") -34px -98px no-repeat; overflow:hidden;}
.shape4{ width:22px;height:29px;background:url("../icon/shape.png") -115px -98px no-repeat; overflow:hidden;}
.shape5{ width:22px;height:29px;background:url("../icon/shape.png") -197px -98px no-repeat; overflow:hidden;}
.shape6{ width:108px;height:92px;background:url("../icon/shape.png") 0px -168px no-repeat; overflow:hidden;}
.shape7{ width:40px;height:29px;background:url("../icon/shape.png") -224px -192px no-repeat; overflow:hidden;}
.shape8{ width:64px;height:60px;background:url("../icon/shape.png") -124px -136px no-repeat; overflow:hidden;}
.shape9{ width:64px;height:60px;background:url("../icon/shape.png") -124px -209px no-repeat; overflow:hidden;}
.shape10{ width:64px;height:60px;background:url("../icon/shape.png") -124px -280px no-repeat; overflow:hidden;}

.shape11{ width:10px;height:28px;background:url("../icon/shape.png") -8px -357px no-repeat; overflow:hidden;}
.shape12{ width:auto;height:28px;background:url("../icon/shape.png") -19px -357px no-repeat;}
.shape13{ width:10px;height:28px;background:url("../icon/shape.png") -142px -357px no-repeat; overflow:hidden;}

.shape14{ width:10px;height:28px;background:url("../icon/shape.png") -161px -357px no-repeat; overflow:hidden;}
.shape15{ width:auto;height:28px;background:url("../icon/shape.png") -170px -357px no-repeat;}
.shape16{ width:10px;height:28px;background:url("../icon/shape.png") -286px -357px no-repeat; overflow:hidden;}

.shape17{ width:10px;height:28px;background:url("../icon/shape.png") -8px -398px no-repeat; overflow:hidden;}
.shape18{ width:auto;height:28px;background:url("../icon/shape.png") -19px -398px no-repeat;}
.shape19{ width:10px;height:28px;background:url("../icon/shape.png") -142px -398px no-repeat; overflow:hidden;}

.shape20{ width:10px;height:28px;background:url("../icon/shape.png") -161px -398px no-repeat; overflow:hidden;}
.shape21{ width:auto;height:28px;background:url("../icon/shape.png") -170px -398px no-repeat;}
.shape22{ width:10px;height:28px;background:url("../icon/shape.png") -286px -398px no-repeat; overflow:hidden;}

.shape23{ width:5px;height:15px;background:url("../icon/shape.png") -8px -309px no-repeat; overflow:hidden;}
.shape24{ width:auto;height:15px;background:url("../icon/shape.png") -17px -309px no-repeat; line-height:15px; color:#FFF; font-weight:bold;}
.shape25{ width:5px;height:15px;background:url("../icon/shape.png") -85px -309px no-repeat; overflow:hidden;}


.shape26{ width:13px;height:26px;background:url("../icon/shape.png") -8px -454px no-repeat; overflow:hidden;}
.shape27{ width:auto;height:26px;background:url("../icon/shape.png") -25px -454px no-repeat; line-height:26px; color:#FFF; font-weight:bold;}
.shape28{ width:13px;height:26px;background:url("../icon/shape.png") -164px -454px no-repeat; overflow:hidden;}

.shape29{ width:13px;height:26px;background:url("../icon/shape.png") -8px -486px no-repeat; overflow:hidden;}
.shape30{ width:auto;height:26px;background:url("../icon/shape.png") -25px -486px no-repeat; line-height:26px; color:#FFF; font-weight:bold;}
.shape31{ width:13px;height:26px;background:url("../icon/shape.png") -164px -486px no-repeat; overflow:hidden;}

.shape32{ width:13px;height:26px;background:url("../icon/shape.png") -8px -518px no-repeat; overflow:hidden;}
.shape33{ width:auto;height:26px;background:url("../icon/shape.png") -25px -518px no-repeat; line-height:26px; color:#FFF; font-weight:bold;}
.shape34{ width:13px;height:26px;background:url("../icon/shape.png") -164px -518px no-repeat; overflow:hidden;}

.shape35{ width:8px;height:15px;background:url("../icon/shape.png") -152px -45px no-repeat; overflow:hidden;}
.shape36{ width:8px;height:15px;background:url("../icon/shape.png") -252px -47px no-repeat; overflow:hidden;}
.shape37{ width:15px;height:8px;background:url("../icon/shape.png") -238px -240px no-repeat; overflow:hidden;}
.shape38{ width:22px;height:29px;background:url("../icon/shape.png") -115px -98px no-repeat; overflow:hidden;}
.shape39{ width:22px;height:29px;background:url("../icon/shape.png") -4px -98px no-repeat; overflow:hidden;}


/*----横向渐变样式--x.png----*/
.x1{ width:auto;height:37px;background:url("../icon/x.png") 0px -58px repeat-x; }
.x2{ width:auto;height:24px;background:url("../icon/x.png") 0px -102px repeat-x; line-height:24px;cursor:pointer;border:#dddddd 1px solid; }
.x3{ width:auto;height:24px;background:url("../icon/x.png") 0px -138px repeat-x; line-height:24px;border:#dddddd 1px solid; padding:0 1px}
.x4{ width:auto;height:149px;background:url("../icon/x.png") 0px -170px repeat-x;}
.x5{ width:auto;height:41px;background:url("../icon/x.png") 0px -329px repeat-x; }
.x6{ width:auto;height:24px;background:url("../icon/x.png") 0px -387px repeat-x; }
.x7{ width:auto;height:24px;background:url("../icon/x.png") 0px -426px repeat-x;}
.x8{ width:auto;height:9px;background:url("../icon/x.png") 0px -468px repeat-x; }
.x9{ width:auto;height:9px;background:url("../icon/x.png") 0px -485px repeat-x;}
/*----竖向渐变样式--y.png----*/
.y1{ width:?px;height:?px;background:url("../icon/y.png") -32px -47px repeat-y; }


/*----文本框阴影------------*/
.ipt1{width:auto; height:auto; font-weight:bold; border:#CCC 1px solid; background: url("../icon/topinput.png") left top repeat-x; padding-left:10px;}
.ipt2{width:auto; height:auto; font-weight:bold; border:#99CC99 1px solid; background: url("../icon/topinput.png") left -87px repeat-x; padding-left:10px; }
.ipt3{width:auto; height:auto; font-weight:bold; border:#FF9900 1px solid; background: url("../icon/topinput.png") left -173px repeat-x; padding-left:10px; }
.ipt4{width:auto; height:auto; font-weight:bold; border:#FF0000 1px solid; background: url("../icon/topinput.png") left -258px repeat-x; padding-left:10px;}
/*高度样式
**********************************************/
.h18{ height:18px !important;}
.h24{ height:24px !important;}
.h30{ height:24px !important;}
.h36{ height:36px !important;}
.h42{ height:42px !important;}
.h48{ height:48px !important;}
.h54{ height:54px !important;}
.h60{ height:60px !important;}
.h70{ height:70px !important;}
.h80{ height:80px !important;}
.h90{ height:90px !important;}
.h100{ height:100px !important;}
/***********************************************/

/*行高样式
**********************************************/
.lhn{ line-height:normal !important;}
.lh12{ line-height:12px !important;}
.lh14{ line-height:14px !important;}
.lh18{ line-height:18px !important;}
.lh24{ line-height:24px !important;}
.lh30{ line-height:30px !important;}
.lh36{ line-height:36px !important;}
/***********************************************/

/*宽度样式
**********************************************/
.w10{ width:10px !important;}
.w20{ width:20px !important;}
.w30{ width:30px !important;}
.w40{ width:40px !important;}
.w50{ width:50px !important;}
.w60{ width:60px !important;}
.w70{ width:70px !important;}
.w80{ width:80px !important;}
.w90{ width:90px !important;}
.w100{ width:100px !important;}
.w120{ width:120px !important;}
.w140{ width:140px !important;}
.w160{ width:160px !important;}
.w180{ width:180px !important;}
.w200{ width:200px !important;}
.w240{ width:240px !important;}
.w280{ width:280px !important;}
.w320{ width:320px !important;}
.w380{ width:380px !important;}
.w440{ width:440px !important;}
.w520{ width:520px !important;}
.w620{ width:620px !important;}
.w740{ width:740px !important;}


.wp5{ width:5% !important;}
.wp10{ width:10% !important;} .wp15{ width:15% !important;}
.wp20{ width:20% !important;} .wp25{ width:25% !important;}
.wp30{ width:30% !important;} .wp35{ width:35% !important;}
.wp40{ width:40% !important;} .wp45{ width:45% !important;}
.wp50{ width:50% !important;} .wp55{ width:55% !important;}
.wp60{ width:60% !important;} .wp65{ width:65% !important;}
.wp70{ width:70% !important;} .wp75{ width:75% !important;}
.wp80{ width:80% !important;} .wp85{ width:85% !important;}
.wp90{ width:90% !important;} .wp95{ width:95% !important;}
.wp100{ width:100% !important;}
/***********************************************/


/*浮动样式
**********************************************/
.hide{ display:none !important;}
.show{ display: !important;}
.disIb{ display:inline-block;}
.fl{ display:inline; float:left !important;}
.fr{ display:inline; float:right !important;}
.clear{ clear:both; display:block; height:0; font-size:0; background:none; width:0;}
.clearit{ clear:both;}
/***********************************************/


/*常用字体样式
**********************************************/
.red{ color:red !important;}
.green{ color:#5E9612 !important;}
.blue{ color:#22A9E1 !important;}
.gray{ color:#a4a4a4 !important;}
.orange{ color:#E94716 !important;}
.mazarine{ color:#6633FF !important;}
.black{ color:black !important;}
.white{ color:white !important;}
/***********************************************/


/*常用背景颜色
**********************************************/
.changeBg{ background:#5E9612 !important;}
.bgGreen{ background:#5E9612 !important;}
.bgRed{ background:red !important;}
.bgBlue{ background:#22A9E1 !important;}
.bgorange{ background:#E94716 !important;}
.bgBlack{ background:black !important;}
.bgWhite{ background:white !important;}
.bgColor1{ background:#eee !important;}
.bgColor2{ background:#ddd !important;}
.bgColor3{ background:#BDBDBD !important;}
.bgColor4{ background:#FFFF9C; !important;}
.bgColor5{ background:#FF9C00; !important;}
.bgColor6{ background:#9CB518; !important;}
.bgColor7{ background:#9CFF9C; !important;}
.bgColor8{ background:#E94615 !important;}
.bgColor9{ background:#FF9326 !important;}
.bgColor10{ background:#666 !important;}
/***********************************************/


/*常用字体大小
**********************************************/
.fwb{ font-weight:bold;}

.fs10{ font-size:10px !important;}
.fs12{ font-size:12px !important;}
.fs13{ font-size:14px !important;}
.fs14{ font-size:14px !important;}
.fs16{ font-size:16px !important;}
.fs18{ font-size:18px !important;}
.fs21{ font-size:21px !important;}
.fs24{ font-size:24px !important;}
.fs32{ font-size:32px !important;}
.fs36{ font-size:36px !important;}
.fs48{ font-size:48px !important; line-height:48px;}
/***********************************************/

/*字体类型
**********************************************/
.ff1{ font-family:"宋体" !important;}
.ff2{ font-family:"黑体" !important;}
.ff3{ font-family:"楷体" !important;}
.ff4{ font-family:"隶书" !important;}
.ff5{ font-family:"幼圆" !important;}
.ff6{ font-family:"Arial" !important;}
.ff7{ font-family:"Comic Sans MS" !important;}
.ff8{ font-family:"Courier" !important;}
.ff9{ font-family:"System" !important;}
.ff10{ font-family:"Tiems New Roman" !important;}
.ff11{ font-family:"Verdana" !important;}
/***********************************************/

/*文本对齐方式
**********************************************/
.tal{ text-align:left !important;}
.tac{ text-align:center !important;}
.tar{ text-align:right !important;}
/***********************************************/


/*常用外补丁样式
**********************************************/
.ml{ margin-left:0 !important;}      .mr{ margin-right:0 !important;}
.ml5{ margin-left:5px !important;}   .mr5{ margin-right:5px !important;} 
.ml10{ margin-left:10px !important;} .mr10{ margin-right:10px !important;} 
.ml15{ margin-left:15px !important;} .mr15{ margin-right:15px !important;}
.ml20{ margin-left:20px !important;} .mr20{ margin-right:20px !important;}
.ml25{ margin-left:25px !important;} .mr25{ margin-right:25px !important;}
.ml30{ margin-left:30px !important;} .mr30{ margin-right:30px !important;}
.ml35{ margin-left:35px !important;} .mr35{ margin-right:35px !important;}
.ml40{ margin-left:40px !important;} .mr40{ margin-right:40px !important;}
.ml45{ margin-left:45px !important;} .mr45{ margin-right:45px !important;}
.ml50{ margin-left:50px !important;} .mr50{ margin-right:50px !important;}
.ml60{ margin-left:60px !important;} .mr60{ margin-right:60px !important;}
.ml70{ margin-left:70px !important;} .mr70{ margin-right:70px !important;}
.ml80{ margin-left:80px !important;} .mr80{ margin-right:80px !important;}
.ml90{ margin-left:90px !important;} .mr90{ margin-right:90px !important;}

.mt3{ margin-top:3px !important;}   .mt4{ margin-top:4px !important;}   
.mt5{ margin-top:5px !important;}   .mt6{ margin-top:6px !important;}
.mt7{ margin-top:7px !important;}   .mt8{ margin-top:8px !important;}

.mt{ margin-top:0 !important;}      .mb{ margin-bottom:0 !important;} 
.mt10{ margin-top:10px !important;} .mb10{ margin-bottom:10px !important;} 
.mt15{ margin-top:15px !important;} .mb15{ margin-bottom:15px !important;} 
.mt20{ margin-top:20px !important;} .mb20{ margin-bottom:20px !important;}
.mt30{ margin-top:30px !important;} .mb30{ margin-bottom:30px !important;}
.mt40{ margin-top:40px !important;} .mb40{ margin-bottom:40px !important;}
.mt50{ margin-top:50px !important;} .mb50{ margin-bottom:50px !important;}

.mlr{ margin-left:0 !important; margin-right:0 !important;}
.mtb{ margin-top:0 !important; margin-bottom:0 !important;}
.mlr10{ margin:0 10px !important;} .mtb10{ margin:10px 0 !important;} 
.mlr20{ margin:0 20px !important;} .mtb20{ margin:20px 0 !important;}
.mlr30{ margin:0 30px !important;} .mtb30{ margin:30px 0 !important;}
.mlr40{ margin:0 40px !important;} .mtb40{ margin:40px 0 !important;}
.mlr50{ margin:0 50px !important;} .mtb50{ margin:50px 0 !important;}

.mAuto{ margin:auto !important;}
.mZero{ margin:0 !important;}
.m10{ margin:10px !important;}
.m20{ margin:20px !important;}
.m30{ margin:30px !important;}
.m40{ margin:40px !important;}
.m50{ margin:50px !important;}

.m-other1{ margin:7px 0 0 30px !important;}
.m-other2{ margin:4px 0 0 0 !important;}
.m-other3{ margin:6px 0 0 5px !important;}

/***********************************************/


/*常用内补丁样式
**********************************************/
.pl10{ padding-left:10px !important;} .pr10{ padding-right:10px !important;}
.pl15{ padding-left:15px !important;} .pr15{ padding-right:15px !important;}
.pl20{ padding-left:20px !important;} .pr20{ padding-right:20px !important;}
.pl25{ padding-left:25px !important;} .pr25{ padding-right:25px !important;}
.pl30{ padding-left:30px !important;} .pr30{ padding-right:30px !important;}
.pl35{ padding-left:35px !important;} .pr35{ padding-right:35px !important;}
.pl40{ padding-left:40px !important;} .pr40{ padding-right:40px !important;}
.pl50{ padding-left:50px !important;} .pr50{ padding-right:50px !important;}
.pl60{ padding-left:60px !important;} .pr60{ padding-right:60px !important;}
.pl70{ padding-left:70px !important;} .pr70{ padding-right:70px !important;}
.pl80{ padding-left:80px !important;} .pr80{ padding-right:80px !important;}
.pl90{ padding-left:90px !important;} .pr90{ padding-right:90px !important;}

.pt10{ padding-top:10px !important;} .pb10{ padding-bottom:10px !important;}
.pt20{ padding-top:20px !important;} .pb20{ padding-bottom:20px !important;}
.pt30{ padding-top:30px !important;} .pb30{ padding-bottom:30px !important;}
.pt40{ padding-top:40px !important;} .pb40{ padding-bottom:40px !important;}
.pt50{ padding-top:50px !important;} .pb50{ padding-bottom:50px !important;}


.plr10{ padding:0 10px !important;} .ptb10{ padding:10px 0 !important;}
.plr20{ padding:0 20px !important;} .ptb20{ padding:20px 0 !important;}
.plr30{ padding:0 30px !important;} .ptb30{ padding:30px 0 !important;}
.plr40{ padding:0 40px !important;} .ptb40{ padding:40px 0 !important;}
.plr50{ padding:0 50px !important;} .ptb50{ padding:50px 0 !important;}

.p10{ padding:10px !important;}
.p20{ padding:20px !important;}
.p30{ padding:30px !important;}
.p40{ padding:40px !important;}
.p50{ padding:50px !important;}
/***********************************************/

/*层次提升样式
**********************************************/
.zInd9{ z-index:9 !important;}
.zInd8{ z-index:8 !important;}
.zInd7{ z-index:7 !important;}
.zInd6{ z-index:6 !important;}
.zInd5{ z-index:5 !important;}
.zInd4{ z-index:4 !important;}
.zInd3{ z-index:3 !important;}
.zInd2{ z-index:2 !important;}
.zInd1{ z-index:1 !important;}
/***********************************************/

/*相对定位
**********************************************/
.ptrBox{ position:relative !important;}
/***********************************************/





