@charset "utf-8";

/*---弹出提示组件---*/
.tipMainWrap {margin:20px 10px;}
.tipMainCont { margin-left:60px;}
.tipMainCont .tmcFl_ico {display:block; text-indent:-9999px; overflow:hidden; position:absolute; left:-38px; top:2px;}
.tipMainCont .tmcTit { line-height:32px; white-space: normal; font-size:18px; font-family:'微软雅黑';}
.tipMainCont .tmcTxtWrap { margin:10px 0;}
.tipMainCont .tmcTxtWrap p { color:#888; font-size:12px;}
.tipMainCont .routineLabel { color:#666; margin-bottom:5px; display:block;}
.tipTit_gray { color:#666;}
.tipTit_green { color:#5e9612;}
.tipTit_orange { color:#e94615;}
.tipFont14 { font-size:14px; font-weight:bold;}
.tipFont14 .tfBlue { color:#09F; font-size:14px; font-weight:bold;}
.tipFont14 .tfBold { color:#333; font-size:14px; font-weight:bold;}
.tipOption_list { margin:10px 0;}
.tipOption_list li { margin-bottom:10px; white-space:nowrap;}
.tipOption_list label { color:#666;}
.tipOption_list input,.tipOption_list label { vertical-align:middle;}
.tipsicon{ display:inline; float:left;}
.tipswords{ margin-left:50px;}
.tipswords h3{ font-size:18px; font-family:'微软雅黑'!important; margin-bottom:12px}
/*---提示组件对话框---*/
.p_filter{width:100%; height:100%;position:fixed;_position:absolute;z-index:1; background:#000;opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30);top:0px;left:0px;}
.p_creen{width:100%; height:100%;position:absolute;clear:both;z-index:100;top:0px;left:0px;}
.promptDialog_box { display:block; float:none; margin:auto; clear:both; z-index:2;}
.promptDialog_bor{width:100%; background:#FFF;}
.pd_width730 { width:730px;}
.pd_width540 { width:540px;}
.pd_width428 { width:428px;}
.pdboxHead { line-height:37px; overflow:hidden;}
.pdboxTit { color:#fff; font-size:14px; margin-left:15px;}
.pdboxClo {float:right;display:block; position:relative;right:14px; top:-23px;}
.pdboxCont { border:1px solid #ddd;}
.pdboxToolbar { height:30px; line-height:30px; background:#f5f5f5; border:1px solid #ddd; border-top:none; z-index:-1;}
.pdboxBtns { float:right;display:inline;line-height:30px;margin-right:6px}
.pdboxCont .pdbTypeSet { height:26px; line-height:26px; margin:5px 0;}
.pdboxCont .pdbTypeSet dl { font-size:12px;}
.pdboxCont .pdbTypeSet dt { color:#999; font-weight:bold; float:left;} 
.pdboxCont .pdbTypeSet dd { font-weight:bold; float:left; margin-right:10px;}
.pdboxCont .pdbTypeSet dd a.select { color:#e94614; padding-right:10px; border-right:1px solid #ddd;}
.pdboxCont .pdbTypeSet_fr { position:absolute; right:0; top:0;}
.pdPaging { position: absolute; left:10px; top:8px;}
.pdPaging li { float:left; margin-right:5px;}
.pdPaging .pdpBtn { display:block; text-indent:-9999px; overflow:hidden;}
.pdboxauto{clear:both; float:none; display:block; margin:auto;}

/*--弹窗提示--*/
.popupWin_LR { border:1px solid #883101; box-shadow:2px 2px 2px #999; width:262px; height:152px; overflow:hidden; margin:10px;}
.popupWin_LR .pwHead { height:30px; border-bottom:1px solid #b20000; background:#eb1212; overflow:hidden;}
.popupWin_LR .pwHead_tit { line-height:30px; color:#fff; font-size:14px; margin-left:10px;}
.popupWin_LR .pwHead_Clo { position:absolute; top:5px; right:10px; display:block; text-indent:-9999px; overflow:hidden;}
.popupWin_LR .pwCont { padding:10px; height:100%; background:#fff;}
.popupWin_LR .pwCont_info { margin-left:80px;}
.popupWin_LR .pwCont_info .pwInfo_ico { position:absolute; top:15px; left:-80px; width:70px; height:70px; text-indent:-9999px;}
.popupWin_LR .pwCont_info .pwInfo_tit { font-size:12px; color:#666; height:32px; line-height:16px;}
.popupWin_LR .pwCont_info .pwInfo_txt { height:38px; margin-bottom:5px; overflow:hidden;}
.popupWin_LR .pwCont_info .pwInfo_txt p { color:#999; line-height:18px;}
.popupWin_LR .pwCont_info .pwInfo_btn { position:absolute; left:0;}
.popupWin_LR .pwCont_info .pwInfo_btn a { padding:0 10px; color:#fff;}
