*{
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 12px;
}

html,body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}
.box1 {

	height:120px;
	width:100%
}
.box2 {
	height: 54%;
text-login:center;
}

.logo{margin-top: 30px;
     margin-left: 100px;
	padding: 0;
	float:left;}
.yun{
	margin-top: 0%;
	float: right;
}
.pic{
	margin: 0 auto;
	height: 452px;
	width: 1215px;
	background-image: url(../images/pic-bg.png);
	background-repeat: no-repeat;
}

.login{
	position: reletive;
	margin-top: 15px;
	margin-left:845px;
	border-radius: 5px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	height: 400px;
	width: 300px;
}

.lgn{
	text-align: center;
	width: 300px;
	padding: 0锛�
	height:auto;
}
.yhm{margin-top:15px}
.zddl{
	float: right;
	font-size: 14px;
	color: #d66f0d;
}
div.login input{padding:5px 12px;marfont-size:15px}
